//colors
$marine: #060f39;
$blue: #1ea4ce;
$brownish-grey: #6d778a;
$warm-grey: #f0f4f6;
$warm-grey-two: #d0dbe2;
$white: #ffffff;

//Bootstrap overrides
$font-family-base: 'Roboto', sans-serif;

$grid-gutter-width: 16px;
$input-color: $brownish-grey;
$input-placeholder-color: $warm-grey;
$input-bg: $warm-grey-two;
$enable-rounded: false;
/*$input-btn-padding-y: 1.25rem;
$form-control-size: 1.25rem;*/


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
);
