body {
  background: $marine;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;

  header {
    #title {
      font-size: 28px;
      font-weight: 100;
      color: $warm-grey;
      margin: 10px 0;
    }

    h1 {
      font-size: 26px;
      line-height: 24px;
      font-weight: 700;
      color: $white;
      margin: 0;
      padding: 25px 15px;
      background: $blue;
    }
  }

  #wrapper {
    background: $warm-grey;
    padding: 15px;

    form {
      .btn-danger {
        margin-top: 10px;
      }
      label.required,
      legend.required{
        &:after {
          content: " *";
          color:red;
        }
      }
      div[id*='Date'].is-invalid {
        padding: 0;
        border: inherit;
      }
      select[id*='Date']{
        display: inline-block;
        text-align-last: center;
        width: 33%;
      }
      button[type="submit"] {
        width: 100%;
        padding: 15px;
      }
    }
  }
}
