<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <title>{% block title %}Title{% endblock %} - Request the solution</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}"/>
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
        <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
        <link rel="manifest" href="{{ asset('site.webmanifest') }}">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
        {% endblock %}
    </head>
    <body>
        <div class="container">
            <header>
                <p id="title">Request the solution</p>
                <h1>{{ block('title') }}</h1>
            </header>
            <div id="wrapper" class="container-fluid">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}
        <script src="/build/runtime.js"></script>
        <script src="/build/app.js"></script>
        {% endblock %}
    </body>
</html>
