{% import "mail/utils.html.twig" as utils %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500,700,900" rel="stylesheet">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            min-width: 100% !important;
        }

        @media screen and (max-width: 600px) {
            .responsive-table {
                display: block;
                width: 100% !important;
            }
        }
    </style>
</head>
<body bgcolor="#060f39">
<div style="background-color:#060f39">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td align="center" style="padding: 20px 0">
                <table border="0" cellpadding="0" cellspacing="0" width="640" class="responsive-table">
                    <tr>
                        <td bgcolor="#f0f4f6">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td background="https://i.ibb.co/xh8Ws2y/header-traces.jpg" style="background-repeat:no-repeat;background-position:top left;" bgcolor="#1ea4ce" width="640" height="150" valign="top">
                                        <!--[if gte mso 9]>
                                        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true"
                                                stroke="false" style="width:640px;height:150px;">
                                            <v:fill type="frame"
                                                    src="https://i.ibb.co/xh8Ws2y/header-traces.jpg"
                                                    color="#0f0f0f"/>
                                            <v:textbox inset="0,0,0,0">
                                        <![endif]-->
                                        <div>
                                            <table border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td align="left" valign="top" style="padding:0 20px;">
                                                        <p style="color: #d8cfcf; font-family: 'Roboto'; font-size: 28px; font-weight: 100; line-height: 28px; margin: 0;display: inline-block; padding-top: 18px;">
                                                            Knowledge <br/>Management</p>
                                                        <p style="color: #fff; font-family: 'Roboto'; font-size: 18px; font-weight: 400; line-height: 28px; margin: 0;">
                                                            A sharing culture</p>
                                                        <p style="color: #c1b8b8; font-family: 'Roboto'; font-size: 16px; font-weight: 100; line-height: 22px; margin: 0;text-transform:uppercase;">{{ name_form }}</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                        <!--[if gte mso 9]>
                                        </v:textbox>
                                        </v:rect>
                                        <![endif]-->
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="padding:0 20px">
                                        <p style="color: #060f39; font-family: 'Roboto'; font-size: 16px; font-weight: 400; line-height: 20px; margin: 0;">
                                            Hello,
                                        </p>
                                        <p style="color: #060f39; font-family: 'Roboto'; font-size: 16px; font-weight: 400; line-height: 20px; margin: 0;">
                                            The <b>{{ name_form }}</b> form has been submitted on <b>{{ date }}</b>, here are your
                                            shared informations values:
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding: 0 20px;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            {{ block('body') }}
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>