{% import "mail/utils.html.twig" as utils %}
{% extends 'mail/base.html.twig' %}

{% block body %}
    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_REQUESTER_NAME')) }}
    {{ utils.text(entity.requesterName)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_REQUESTER_EMAIL')) }}
    {{ utils.email(entity.requesterEmail)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_MANAGER_EMAIL')) }}
    {{ utils.email(entity.managerEmail)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_DIVISION')) }}
    {{ utils.text(entity.division)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_COUNTRY')) }}
    {{ utils.text(entity.country)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_SIGLIUM')) }}
    {{ utils.text(entity.siglium)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_SITE')) }}
    {{ utils.text(entity.site)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_LANGUE')) }}
    {{ utils.text(entity.langue)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_COMMENT')) }}
    {{ utils.textarea(entity.comment)}}
{% endblock %}
