{% import "mail/utils.html.twig" as utils %}
{% extends 'mail/base.html.twig' %}

{% block body %}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_GIVER_NAME')) }}
{{ utils.text(entity.giverName)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_GIVER_EMAIL')) }}
{{ utils.email(entity.giverEmail)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_IS_GIVER_MANAGER')) }}
{{ utils.checkbox(entity.isManager)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_REQUESTER_NAME_GIVER')) }}
{{ utils.email(entity.requesterEmail)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_GIVER_EMAIL_MANAGER')) }}
{{ utils.email(entity.giverEmailManager)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_END_DATE_TRANSFER')) }}
{{ utils.date(entity.endDate)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_START_DATE_TRANSFER')) }}
{{ utils.date(entity.startDate)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_EXPERT_CKO')) }}
{{ utils.text(entity.expertCko)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_DIVISION')) }}
{{ utils.text(entity.division)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_COUNTRY')) }}
{{ utils.text(entity.country)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_SIGLIUM')) }}
{{ utils.text(entity.siglium)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_SITE')) }}
{{ utils.text(entity.site)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_RECEIVERS_NAMES')) }}
{{ utils.multifield(entity.nameReceiverSuccessor)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_CONTEXT')) }}
{{ utils.text(entity.choiceContext)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_CONTEXT_OTHER')) }}
{{ utils.text(entity.context)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_LANGUE')) }}
{{ utils.text(entity.langue)}}

{{ utils.label_mail(constant('App\\Entity\\Form::LABEL_OTHER_INFO')) }}
{{ utils.textarea(entity.comment)}}

{% endblock %}
