{% import "mail/utils.html.twig" as utils %}
{% extends 'mail/base.html.twig' %}

{% block body %}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_REQUESTER_NAME')) }}
    {{ utils.text(entity.requesterName)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_REQUESTER_EMAIL')) }}
    {{ utils.email(entity.requesterEmail)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_IS_LEAVER_MANAGER')) }}
    {{ utils.checkbox(entity.isManager)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_LEAVER_EMAIL')) }}
    {{ utils.email(entity.leaverEmail)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_LEAVER_EMAIL_MANAGER')) }}
    {{ utils.email(entity.leaverEmailManager)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_LEAVER_DEPARTURE_DATE')) }}
    {{ utils.date(entity.leaverDate)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_DIVISION')) }}
    {{ utils.text(entity.division)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_COUNTRY')) }}
    {{ utils.text(entity.country)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_SIGLIUM')) }}
    {{ utils.text(entity.siglium)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_SITE')) }}
    {{ utils.text(entity.site)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_SUCCESSORS_NAMES')) }}
    {{ utils.multifield(entity.nameReceiverSuccessor)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_CONTEXT')) }}
    {{ utils.textarea(entity.context)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_LANGUE')) }}
    {{ utils.text(entity.langue)}}

    {{ utils.label_mail(constant('App\\Entity\\Form::LABEL_OTHER_INFO')) }}
    {{ utils.textarea(entity.comment)}}

{% endblock %}
