{% macro label_mail(name) %}
    <tr>
        <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
            <b>{{ name }}</b>
        </td>
    </tr>
{% endmacro %}

{% macro date_heure(date) %}
    {% if date is not empty %}
        <tr>
            <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                {{ date|date("Y-m-d H:i:s") }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% else %}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro date(date) %}
    {% if date is not empty %}
        <tr>
            <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                {{ date|date("Y-m-d") }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% else %}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro checkbox(value) %}
    {% if value == '1' %}
        <tr>
            <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                True
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% else %}
        <tr>
            <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                False
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro text(value) %}
    {% if value is not empty %}
        <tr>
            <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                {{ value }}
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% else %}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro textarea(value) %}
    {% if value is not empty %}
        {% if value is not empty %}
            <tr>
                <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                    {{ value|nl2br }}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
        {% endif %}
    {% else %}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro multifield(value) %}
    {% if value is not empty %}
        <tr>
            <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                <ul style="margin:0;padding:0">
                    {% for v in value %}
                        {% if v is not empty %}
                            <li>{{ v }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% else %}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endmacro %}

{% macro email(value) %}
    {% if value is not empty %}
        <tr>
            <td style="background-color:#d0dbe2;color: #060f39; font-family: 'Roboto'; font-size: 14px; font-weight: 400; line-height: 18px; margin: 0;padding: 4px 8px">
                <a href="mailto:{{ value }}">{{ value }}</a>
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% else %}
        <tr>
            <td>&nbsp;</td>
        </tr>
    {% endif %}
{% endmacro %}